html,
body {
  margin: 0;
  padding: 0;
}
.canvas-section {
  width: 100%;
  overflow-x: hidden;
}
.canvas-section h1 {
  position: fixed;
  margin: 1rem 1.5rem;
  font-size: 40px;
  z-index: 10;
  color: azure;
}
.canvas-elem {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}
.canvas-elem canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
